app/pycache/
.idea/
*.pyc
flask/
app/static/js/package.json
__pycache__/
.DS_Store
.coverage
.mode
.pylintrc
app/static/js/node_modules/
app/static.js/npm-debug.log
postgresql/
companies.json
games.json
platforms.json
reviews.json
