@import "bootstrap.css";

body {
  font-size: 100%;
  font-family: arial;
}

/* Navbar Formatting */
.navbar-fixed-top {
  margin-bottom: 0px;
  margin-top: 20px;
  position: absolute;
}
.navbar-brand {
  color: white;
  font-size: 2.5em;
  border-right: 1px solid #FFF;
}
.navbar-fixed-top .navbar-nav > li a {
    padding-top: 12px;
    color: white;
    font-size: 1.75em;
}
.navbar-nav > li > a:hover {
    background-color: transparent;
    color: gray;
    text-decoration: underline;
}
.navbar .navbar-collapse {
  text-align: center;
}

/* Carousel Slide Formatting */
.slide{
  height: 100vh;
}
.carousel {
  position: relative;
}

.carousel-caption h1{
  font-size: 6em;
  font-family: 'invasion2000';
}
.carousel-caption p{
  font-size: 1.5em;
}

.input-group {
  width: 450px;
}

.underline {
  width: 700px;
  border-bottom: 1px solid #FFF;
}
.horizontal-divider {
  border: 1px solid white;
}
