@import "bootstrap.css";

body {
  font-size: 100%;
  font-family: arial;
}

/* Navbar Formatting */
.navbar-light {
  background-color: black;
  margin-bottom: 0px;
  position: relative;
}
.nav-justified > li > a{
  border-right: 1px solid #FFF;
}
.nav-justified > li:last-child > a{
  border: 0;
}
.navbar-brand {
  color: white;
  font-size: 300%;
  border-right: 1px solid #FFF;
}
.navbar-light .custom-menu > li a {
    padding-top: 12px;
    color: white;
    font-size: 1.75em;
}
.custom-menu > li > a:hover {
    background-color: transparent;
    color: gray;
    text-decoration:underline;
}
.navbar .navbar-collapse {
  text-align: center;
}

/* Carousel Slide Formatting */
.slide{
  height: 93vh;
}
.carousel-caption h1{
  font-size: 6em;
  font-family: 'invasion2000';
}
.carousel-caption p{
  font-size: 1.5em;
}

.input-group {
  width: 450px;
}
