<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · About</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg.png');
  }
  h1 {
    color: white;
    font-size: 2em;
  }
  h2 {
    color: white;
  }
  p {
    color: white;
    font-size: 1.65em;
    text-align: left;
    margin-right: 40px;
    margin-left: 40px;
  }
  hr {
    margin-left: 40px;
    margin-right: 40px;
  }
  .underline {
    width: 700px;
    border-bottom: 1px solid #FFF;
  }
  .horizontal-divider {
    border: 1px solid white;
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
      <div class="collapse navbar-collapse navbar-left" id="nav-col">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">GGnoSWE
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="games.html">Games
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="platforms.html">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="studios.html">Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reviews.html">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Beginning Team Info -->
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="margin-top:125px; margin-bottom: 30px;">
        <h2>The Team</h2>
        <div class="underline"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2 style="text-align: center;">Kaden Brown</h2>
        <img class="center-block" src="../static/images/kaden.png"
          style="padding-top: 20px; height: 300px; width: 200px;"/>
        <div class="row text-center">
          <a href="https://github.com/kbbrownn">
          <img src="../static/images/github-logo.png" style="height: 30px;
          width: 30px; margin-bottom: 20px; margin-top: 20px;"/>
          </a>
          <p>
            Hey! My name is Kaden and I am a junior in computer science at
            UT Austin. I like to exercise, travel and of
            course, game; with The Legend of Zelda being one of the first series
            I fell in love with.
          </p>
          <hr/>
          <h1>Responsibilities: Frontend</h1>
          <h1>No. of commits: 0</h1>
          <h1>No. of issues: 0</h1>
          <h1>No. of unit tests: 0</h1>
        </div>
      </div>
      <div class="col-md-4">
        <h2 style="text-align: center;">Zihao Zhu</h2>
        <img class="center-block" src="../static/images/zihao.png"
          style="padding-top: 20px; height: 300px; width: 275px;"/>
        <div class="row text-center">
          <a href="https://github.com/novuszed">
          <img src="../static/images/github-logo.png" style="height: 30px;
            width: 30px; margin-bottom: 20px; margin-top: 20px;"/>
          </a>
          <p>
            I'm a third year computer science student. I love traveling, eating
            and Netflixing. Hoping to be unemployed post college.
            <br/><br/>
          </p>
          <hr/>
          <h1>Responsibilities: Backend</h1>
          <h1>No. of commits: 0</h1>
          <h1>No. of issues: 0</h1>
          <h1>No. of unit tests: 0</h1>
        </div>
      </div>
      <div class="col-md-4">
        <h2 style="text-align: center;">Warren Crasta</h2>
        <img class="center-block" src="../static/images/warren.png"
          style="padding-top: 20px; height: 300px; width: 250px;"/>
        <div class="row text-center">
          <a href="https://github.com/wcrasta">
          <img src="../static/images/github-logo.png" style="height: 30px;
            width: 30px; margin-bottom: 20px; margin-top: 20px;"/>
          </a>
          <p>
            I’m a senior studying Computer Science, and will work for
            Capital One as a Software/Data Engineer after graduating in May.
            Being a CS major means having no free time, but in the rare
            instances where I have a break, I’m usually playing basketball/NBA
            2K17 or exploring Austin!
          </p>
          <hr/>
          <h1>Responsibilities: Backend</h1>
          <h1>No. of commits: 0</h1>
          <h1>No. of issues: 0</h1>
          <h1>No. of unit tests: 0</h1>
        </div>
      </div>
    </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-4">
          <h2 style="text-align: center;">Colin Thornton</h2>
          <img class="center-block" src="../static/images/colin.png"
            style="padding-top: 20px; height: 300px; width: 225px;"/>
          <div class="row text-center">
            <a href="https://github.com/Colin-Thornton">
            <img src="../static/images/github-logo.png" style="height: 30px;
              width: 30px; margin-bottom: 20px; margin-top: 20px;"/>
            </a>
            <p>
              My name is Colin and I am a junior at the University of Texas at
              Austin. In my free time like to play video games or go hiking.
              Hiking allows me to reflect in a peaceful environment after a long
              project so that I can improve for the next time.
            </p>
            <hr/>
            <h1>Responsibilities: Backend</h1>
            <h1>No. of commits: 0</h1>
            <h1>No. of issues: 0</h1>
            <h1>No. of unit tests: 0</h1>
          </div>
        </div>
        <div class="col-md-4">
          <h2 style="text-align: center;">Anurag Papineni</h2>
          <img class="center-block" src="../static/images/kaden.png"
            style="padding-top: 20px; height: 300px; width: 200px;"/>
          <div class="row text-center">
            <a href="https://github.com/anuragpapineni">
            <img src="../static/images/github-logo.png" style="height: 30px;
              width: 30px; margin-bottom: 20px; margin-top: 20px;"/>
            </a>
            <p>
              Hey! My name is Kaden and I am a junior in computer science at
              UT Austin. I like to exercise, travel and of course, game; with
              The Legend of Zelda being one of the first series
              I fell in love with.
            </p>
            <hr/>
            <h1>Responsibilities: Backend</h1>
            <h1>No. of commits: 0</h1>
            <h1>No. of issues: 0</h1>
            <h1>No. of unit tests: 0</h1>
          </div>
        </div>
        <div class="col-md-4">
          <h2 style="text-align: center;">Kaivan Shah</h2>
          <img class="center-block" src="../static/images/kaden.png"
            style="padding-top: 20px; height: 300px; width: 200px;"/>
          <div class="row text-center">
            <a href="https://github.com/kaivan29">
            <img src="../static/images/github-logo.png" style="height: 30px;
              width: 30px; margin-bottom: 20px; margin-top: 20px;"/>
            </a>
            <p>
              Hey! My name is Kaden and I am a junior in computer science at
              UT Austin. I like to exercise, travel and of course, game; with
              The Legend of Zelda being one of the first series
              I fell in love with.
            </p>
            <hr/>
            <h1>Responsibilities: Frontend</h1>
            <h1>No. of commits: 0</h1>
            <h1>No. of issues: 0</h1>
            <h1>No. of unit tests: 0</h1>
          </div>
        </div>
    </div>
  </div>

  <!-- Beginning Stats -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="padding-top: 150px;">
        <h2>Stats</h2>
        <div class="underline" style="border-bottom: 1px solid #FFF;"></div>
        <h1>Total No. of commits: 0</h1>
        <h1>Total No. of issues: 0</h1>
        <h1>Total No. of unit tests: 0</h1>
        <a href="#">
          <h1>Apiary API</h1>
        </a>
        <a href="https://github.com/wcrasta/idb/issues">
          <h1>GitHub Issue Tracker</h1>
        </a>
        <a href="https://github.com/wcrasta/idb">
          <h1>GitHub Repo</h1>
        </a>
      </div>
    </div>
  </div>

  <!-- Beginning Data -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="padding-top: 150px;">
        <h2>Data</h2>
        <div class="underline" style="border-bottom: 1px solid #FFF;"></div>
        <br/>
        <h1 style="display: inline;">Data source:</h1>
        <a href="https://igdb.github.io/api/">
          <h1 style="display: inline;">Internet Game Database (IGDB)</h1>
        </a>
        <h1>Scraping Method:</h1>
      </div>
    </div>
  </div>

  <!-- Beginning Tools -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="padding-top: 150px;">
        <h2>Tools</h2>
        <div class="underline" style="border-bottom: 1px solid #FFF;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>Bootstrap: </h1>
        <p>
          Bootstrap is an HTML/CSS/JS framework used to aid in the design of our
          website. It provided a library of useful and fluid design tools, such
          as the splash page's carousel, navbar and more.
        </p>
      </div>
      <div class="col-sm-6">
        <h1>React: </h1>
        <p>
          React is a Javascript framework used to aid in the functionality of
          our website. We used it to link things such as the search bar to our
          database.
        </p>
      </div>
      <div class="col-sm-6">
        <h1>Flask: </h1>
        <p>
          Flask is a Python framework used to help implement our backend and
          serve our website.
        </p>
      </div>
      <div class="col-sm-6">
        <h1>SQLAlchemy: </h1>
        <p>
          SQLAlchemy is a Python-SQL framework used to build and query our
          database on the backend.
        </p>
      </div>
      <div class="col-sm-6">
        <h1>Apiary: </h1>
        <p>
          Apiary is a tool used to build/manage/document our API. We then use
          this to allow others to scrape our site.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>Namecheap: </h1>
        <p>
          Namecheap is a service that we used to claim our domain for our
          website.
        </p>
      </div>
      <div class="col-sm-6">
        <h1>Amazon Web Services (AWS): </h1>
        <p>
          AWS is a website hosting / management service, served by Amazon, that
          we used to deploy our website with.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>Slack: </h1>
        <p>
          Slack is a team communication application that we used to discuss
          design decisions, scheduling and much more. We also integrated our
          GitHub repo directly to our main chat channel so that we could all
          receive real-time updates on the project.
        </p>
      </div>
      <div class="col-sm-6">
        <h1>GitHub: </h1>
        <p>
          GitHub is the version control site we used to store our project files
          and documentation, with the help of git.
        </p>
      </div>
    </div>
    <br /><br />
  </div>

</body>
