<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · Reviews</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg.png');
  }
  h2 {
    color: white;
  }
  .table-bordered {
    font-size: 175%;
    color: white;
    background-color: #58247f;
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
      <div class="collapse navbar-collapse navbar-left" id="nav-col">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GGnoSWE
          </a>
        </div>
        <ul class="nav custom-menu nav-justified">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('games')}}">Games
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('platforms')}}">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('studios')}}">Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reviews')}}">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Starting Data Table -->
    <div class="container" style="padding-top: 70px;">
      <h2>Reviews Table</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Game</th>
            <th>Platform</th>
            <th>Date Created</th>
            <th>Views</th>

            <th>Introduction</th>
            <th>Content</th>
            <th>Conclusion</th>
            <th>Positive Points</th>
            <th>Negative Points</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items.items %}
          <tr>
            <td>{{item.title}}</td>
            <td>{{item.game_id}}</td>
            <td>{{item.platform_id}}</td>
            <td>{{item.created_at}}</td>
            <td>{{item.views}}</td>

            <td>{{item.introduction}}</td>
            <td>{{item.content}}</td>
            <td>{{item.conclusion}}</td>
            <td>{{item.positive}}</td>
            <td>{{item.negative}}</td>
            <td>{{item.url}}</td>

          </tr>
          {% endfor %}
          {% if items.has_prev %}<a href="{{ url_for('reviews', page=items.prev_num) }}" style="font-size:50px">&lt;&lt; Newer items</a>{% else %}&lt;&lt; Newer items{% endif %} |
        {% if items.has_next %}<a href="{{ url_for('reviews', page=items.next_num) }}" style="font-size:50px">Older items &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
        </tbody>
      </table>
    </div>
  </header>

</body>
