<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · Reviews</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg.png')
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse navbar-right" id="nav-col">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html" style="color: white">GGnoSWE
          </a>
        </div>
        <ul class="nav custom-menu nav-justified">
          <li class="nav-item active">
            <a class="nav-link" href="games.html">Games
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="platforms.html">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="studios.html">Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reviews.html">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

</body>
