<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · Reviews</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg.png');
  }
  h2 {
    color: white;
  }
  .table-bordered {
    font-size: 175%;
    color: white;
    background-color: #58247f;
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
      <div class="collapse navbar-collapse navbar-left" id="nav-col">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">GGnoSWE
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="games.html">Games
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="platforms.html">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="studios.html">Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reviews.html">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Starting Data Table -->
    <div class="container" style="padding-top: 125px;">
      <h2>Reviews Table</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Game</th>
            <th>Platform</th>
            <th>Introduction</th>
            <th>Content</th>
            <th>Conclusion</th>
            <th>Positive Points</th>
            <th>Negative Points</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Title1</td>
            <td>Game1</td>
            <td>Platform1</td>
            <td>Sample introduction ...</td>
            <td>Example content ...</td>
            <td>Example conclusion ...</td>
            <td>pos points list 1</td>
            <td>neg points list 1</td>
            <td>www.review1.com</td>
          </tr>
          <tr>
            <td>Title2</td>
            <td>Game2</td>
            <td>Platform2</td>
            <td>Sample introduction ...</td>
            <td>Example content ...</td>
            <td>Example conclusion ...</td>
            <td>pos points list 2</td>
            <td>neg points list 2</td>
            <td>www.review2.com</td>
          </tr>
          <tr>
            <td>Title3</td>
            <td>Game3</td>
            <td>Platform3</td>
            <td>Sample introduction ...</td>
            <td>Example content ...</td>
            <td>Example conclusion ...</td>
            <td>pos points list 3</td>
            <td>neg points list 3</td>
            <td>www.review3.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </header>

</body>
