<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · Studios</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg.png');
  }
  h2 {
    color: white;
  }
  .table-bordered {
    font-size: 175%;
    color: white;
    background-color: #822727;
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse navbar-right" id="nav-col">
        <div class="navbar-header">
          <a class="navbar-brand" href="/" style="color: white">GGnoSWE
          </a>
        </div>
        <ul class="nav custom-menu nav-justified">
          <li class="nav-item active">
            <a class="nav-link" href="games.html">Games
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="platforms.html">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="studios.html">Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reviews.html">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Starting Data Table -->
    <div class="container" style="padding-top: 70px;">
      <h2>Studios Table</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Logo</th>
            <th>Description</th>
            <th>Published Games</th>
            <th>Platforms Developed For</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Studio1</td>
            <td>studio1.png</td>
            <td>Example description ...</td>
            <td>Published games list1</td>
            <td>Platforms list1</td>
          </tr>
          <tr>
            <td>Studio2</td>
            <td>studio2.png</td>
            <td>Example description ...</td>
            <td>Published games list2</td>
            <td>Platforms list2</td>
          </tr>
          <tr>
            <td>Studio3</td>
            <td>studio3.png</td>
            <td>Example description ...</td>
            <td>Published games list3</td>
            <td>Platforms list3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </header>

</body>
