<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · Studios</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg.png');
  }
  h2 {
    color: white;
  }
  .table-bordered {
    font-size: 175%;
    color: white;
    background-color: #822727;
  }
  #myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
      <div class="collapse navbar-collapse navbar-left" id="nav-col">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">GGnoSWE
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('games')}}">Games
              <span class="sr-only">(current)</span>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('platforms')}}">Platforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('studios')}}">Studios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reviews')}}">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about')}}">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Starting Data Table -->
    <div class="container" style="padding-top: 125px;">
    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for a studio.." title="Type in a name">
      <h2>Studios Table</h2>
      <table class="table table-bordered" id="myTable">
        <thead>
          <tr>
            <th onclick ="sortTable(0)">Name</th>
            <th onclick ="sortTable(1)">Logo</th>
            <th onclick ="sortTable(2)">Description</th>
            <th onclick ="sortTable(3)">Published Games</th>
            <th onclick ="sortTable(4)">Primary Platform</th>
            <th onclick ="sortTable(5)">Date Created</th>

          </tr>
        </thead>
            <tbody>
              {% for item in items.items %}
              <tr>
                <td>{{item.name}}</td>
                {% if item.logo!= "None" %}
                <td><img src ="{{item.logo}}"></td>
                {% endif %}
                {% if item.logo== "None" %}
                <td><img src ="../static/images/no-art.png"></td>
                {% endif %}
                <td>{{item.description}}</td>

                <td>{{item.game.first().name}}</td>
                {% if item.platform is defined %}
                <td>{{item.platform.name}}</td>
                {% endif %}
                <td>
                    {{item.created_at}}
                </td>
              </tr>
              {% endfor %}
              {% if items.has_prev %}<a href="{{ url_for('studios', page=items.prev_num) }}" style="font-size:50px">&lt;&lt; Newer items</a>{% else %}&lt;&lt; Newer items{% endif %} |
{% if items.has_next %}<a href="{{ url_for('studios', page=items.next_num) }}" style="font-size:50px">Older items &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
            </tbody>
            <!--
          <tr>
            <td>Studio1</td>
            <td>studio1.png</td>
            <td>Example description ...</td>
            <td>Published games list1</td>
            <td>Platforms list1</td>
          </tr>
          <tr>
            <td>Studio2</td>
            <td>studio2.png</td>
            <td>Example description ...</td>
            <td>Published games list2</td>
            <td>Platforms list2</td>
          </tr>
          <tr>
            <td>Studio3</td>
            <td>studio3.png</td>
            <td>Example description ...</td>
            <td>Published games list3</td>
            <td>Platforms list3</td>
          </tr>
      -->
      </table>
    </div>
  </header>

</body>


<!-- Sort the elements -->
<script src="../static/js/games.js"></script>
<!-- Search-->
<script src="../static/js/search.js"></script>
