<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <title>GGnoSWE · Games</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png" />
  <!-- Bootstrap Core CSS, home and common-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/common.css">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <!-- Custom CSS -->
  <style type="text/css">
    body {
      background: url('../static/images/bg2.png');
    }

    h1 {
      color: white;
    }

    h2 {
      color: black;
      text-align: center;
    }

    p {
      text-align: left;
      color: black;
      font-size: 1.5em;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
    }

    .center-block {
      margin-left: auto;
      margin-right: auto;
    }

    .underline {
      width: 100%;
    }

    .list-group {
      padding-left: 20px;
      padding-top: 20px;
    }
  </style>

  <script type="text/javascript">
    function calcTime(offset) {
      var d = new Date(0)
      d.setUTCSeconds(offset)
    }
  </script>
</head>

<body onload>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-fixed-top" style="background-color: black; margin-top: 0;">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav-col">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse navbar-left" id="nav-col">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <img src="../static/images/logo.png" style="width: 100px; height: 50px; padding-top: -20px;" />
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('games')}}">Games
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('platforms')}}">Platforms</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('studios')}}">Studios</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('reviews')}}">Reviews</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Filtering options -->
      <div class="row">

            <div class="col-md-3"  style="margin-top: 220px">
              <div class="row" style="padding-right: 50px;">
                <div clas="col-sm-4"  style="border: 1px solid white;">
                  <div class="dropdown" style="padding-left: 20px; padding-top: 20px;">
                    <button class="btn btn-secondary dropdown-toggle" style="background-color: white"><font color="black">Sort relevance &nbsp;</font><span class="caret"></span></button>
                    <div class="dropdown-content">
                      <a href="{{ url_for('games', sort='name')}}">Name: A-Z</a>
                      <a href="{{ url_for('games', sort='name', asc='desc')}}">Name: Z-A</a>
                      <a href="{{ url_for('games', sort='rating', asc='desc')}}">Rating: High-Low</a>
                     <a href="{{ url_for('games', sort='rating')}}">Rating: Low-High</a>
                      <a href="{{ url_for('games', sort='release_date', asc='desc')}}">Newest</a>
                      <a href="{{ url_for('games', sort='release_date', asc='asc')}}">Oldest</a>
                    </div>
                  </div>
                  <p class="text-left" style="padding-top: 60px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Platform</font></p>
                  <div class="list-group">
                    <input type="checkbox"> <font color="white" size ="4">PlayStation 4 </font> <br>
                    <input type="checkbox"> <font color="white" size ="4">Xbox One </font> <br>
                    <input type="checkbox"> <font color="white" size ="4">PC </font> <br>
                    <input type="submit" value="Submit">
                  </div>

                <p class="text-left" style="padding-top: 30px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Studio</font></p>
                  <div class="list-group">
                    <input type="checkbox"> <font color="white" size ="4"> Guerilla Games </font> <br>
                    <input type="checkbox"> <font color="white" size ="4">EA Sports </font> <br>
                    <input type="checkbox"> <font color="white" size ="4"> 343 Industries </font> <br>
                    <input type="submit" value="Submit">
                  </div>
                </div>
              </div>
            </div>
        <!--Load them images up -->
        <div class="col-md-9" style="padding-top: 100px;">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div style="color: white; float: right; text-align: right;">
                    {{ pagination.links }}
                  </div>
                  <h1>Games</h1>

                  <div class="row">
                    <div class="col-sm-6">
                      <p>
                        &nbsp;
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <div style="color: white; text-align: right; margin-top: 10px;">
                        {{ pagination.info }}
                      </div>
                    </div>
                    <div class="col-sm-12">

                      <div class="underline"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 30px; margin-bottom: 30px; background: white; opacity: 0.9; border-radius: 15px;">

            {% for item_row in items | batch(3, '&nbsp;') %}
            <div class="row" style="overflow: hidden; margin-bottom: 30px;">
              {% for item in item_row %}
              <div class="col-md-4">
                <div class="row">
                  <div class="col-sm-12">
                    <div style="inline;">
                      <div class="row">
                        <div class="col-sm-12">
                          <h2 style="word-wrap: break-word; margin-bottom: 0;
                      padding-top: 25px; height: 125px; width: 100%;
                      color: black; text-decoration: underline;">
                      <a href="{{ url_for('game_instance',
                      name = item.id)}}">

                      {% if item.name | length > 50 %}
                      {{item.name[:47]}}...
                      {% else %}
                      {{item.name}}
                      {% endif %}

                    </h2>
                        </div>
                      </div>
                      {% if item.image != 'None' %}
                      <img class="center-block" style="height: 250px" src="{{item.image}}" />
                      {% else %}
                      <img class="center-block" style="height: 250px" src="/static/images/no-art.png" />
                      {% endif %}
                      </a>
                    </div>
                    <div class="row" style="padding-left: 40px;">
                      <div class="col-sm-12">
                        <p style="color: black; padding-top: 15px;">
                          {% if item.platform_id is defined %}
                          <a href="{{ url_for('platform_instance', name = item.platform.id)}}"> {{item.platform.name}} </a> {% endif %}
                        </p>
                        <p style="color: black;">
                          {% if item.studio is defined %}
                          <a href="{{ url_for('studio_instance', name = item.studio.id)}}">  {{item.studio.name}}
                         </a> {% endif %}
                        </p>

                        <p> Esrb: {{item.esrb}} </p>
                        <p> Genre: {{item.genre}} </p>
                        <p> Rating: {{item.rating}} </p>
                        <p> Status: {{item.status}} </p>

                        <p>
                          Date Created: {{item.release_date}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>

            {% endfor %}
          </div>
          <div class="underline"></div>
          <div style="color: white; float: right; text-align: right;">
            {{ pagination.info }} {{ pagination.links }}
          </div>
        </div>
      </div>
  </header>

  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


<!-- Sort the elements -->
<script src="../static/js/games.js"></script>

<!-- Search-->
<script src="../static/js/search.js"></script>
