<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale=1">
<title>GGnoSWE · {{items.name}}</title>
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
<style type="text/css">
  body {
    background: url('../static/images/bg2.png');
    background-size: cover;
  }
  h1 {
    color: white;
    text-align: center;
    margin-top: 60px;
  }
  h2 {
    color: white;
    font-size: 2em;
  }
  p{
    font-size: 1.25em;
    word-wrap: break-word;
    color: white;
  }
  .row span {
    color: white;
    font-size: 1.75em;
  }
</style>
</head>
<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-fixed-top" style="background-color: black; margin-top: 0;">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav-col">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse navbar-left" id="nav-col">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <img src="../static/images/logo.png" style="width: 100px; height: 50px; padding-top: -20px;"/>
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('games')}}">Games
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('platforms')}}">Platforms</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('studios')}}">Studios</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('reviews')}}">Reviews</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="row" style="margin-top: 125px; margin-left: 30px; margin-right: 30px; outline: 1px solid white;">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <h1>{{items.name}}</h1>
          {% if items.image!='None' %}
            <img style="height: 50vh; width: 30vw; margin-bottom: 100px;" src={{items.image}}>
          {% else %}
            <img style="height: 50vh; width: 30vw; margin-bottom: 100px;" src="/static/images/no-art.png">
          {% endif %}
        </div>
        <div class="col-sm-5">
          <div class="row">
            <h2 style="text-decoration: underline;">Storyline</h2>
            <p>
              {{items.storyline}}
            </p>
          </div>
          <div class="row">
            <h2 style="text-decoration: underline;">Summary</h2>
            <p>
              {{items.summary}}
            </p>
          </div>
          {% if items.video[0:4] == 'http' %}
            <div class="row">
              <h2 style="text-decoration: underline;">Video</h2>
              <iframe width="500" height="315" src={{items.video}} allowfullscreen></iframe>
          {% elif items.category[0:4] == 'http' %}
            <div class="row">
              <h2 style="text-decoration: underline;">Video</h2>
              <iframe width="500" height="315" src={{items.category}} allowfullscreen></iframe width="420" height="315">
            </div>
          {% endif %}
        </div>
        <div class="col-sm-3">
          <div class="row">
            <h2 style="display: inline-block;">Platform:	&nbsp;</h2>
            {% if items.platform.name != 'None' %}
            <span><a style = "color: white; text-decoration: underline" href="{{ url_for('platform_instance', name = items.platform.id)}}">{{items.platform.name}}</a></span>
            {% else %}
            <span style = "color: white; text-decoration: underline">{{items.platform.name}}</span>
            {% endif %}
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Studio:	&nbsp;</h2>
            {% if items.studio.name != 'None' %}
            <span><a style = "color: white; text-decoration: underline" href="{{ url_for('studio_instance', name = items.studio.id)}}">{{items.studio.name}}</a></span>
            {% else %}
            <span style = "color: white; text-decoration: underline">{{items.studio.name}}</span>
            {% endif %}
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Genre:	&nbsp;</h2>
            <span>{{items.genre}}</span>
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Rating:	&nbsp;</h2>
            <span>{{items.rating}}</span>
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Status:	&nbsp;</h2>
            <span>{{items.status}}</span>
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Release Date:	&nbsp;</h2>
            <span>{{items.release_date}}</span>
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Website:	&nbsp;</h2>
            {% if items.website != 'None' %}
            <span><a style = "color: white; text-decoration: underline" href = "{{items.website}}">{{items.website}}</a></span>
            {% else %}
            <span style = "color: white; text-decoration: underline">{{items.website}}</span>
            {% endif %}
          </div>
          <div class="row">
            <h2 style="display: inline-block;">Reviews:	&nbsp;</h2>
            <span>
              {% for review in items.reviews %}
                <p><a href="{{ url_for('review_instance', name = review.id)}}">{{review.title}}</a></p>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
