<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <title>GGnoSWE · Games</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png" />
  <!-- Bootstrap Core CSS, home and common-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/common.css">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <!-- Custom CSS -->
  <style type="text/css">
    body {
      background: url('../static/images/bg2.png');
    }

    h1 {
      color: white;
    }

    h2 {
      color: black;
      text-align: center;
      font-size: 2.5em;
    }

    p {
      text-align: left;
      color: black;
      font-size: 1.5em;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
    }

    .center-block {
      margin-left: auto;
      margin-right: auto;
    }

    .underline {
      width: 100%;
    }

    .list-group {
      padding-left: 20px;
      padding-top: 20px;
    }
    #sort {
      width: 125px;
    }
  </style>

  <script type="text/javascript">
    function calcTime(offset) {
      var d = new Date(0)
      d.setUTCSeconds(offset)
    }
  </script>
</head>

<body>

  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-fixed-top" style="background-color: black; margin-top: 0;">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav-col">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse navbar-left" id="nav-col">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <img src="../static/images/logo.png" style="width: 100px; height: 50px; padding-top: -20px;" />
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('games')}}">Games
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('platforms')}}">Platforms</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('studios')}}">Studios</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('reviews')}}">Reviews</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Filtering options -->
      <div class="row">

            <div class="col-md-3"  style="margin-top: 220px">
              <div class="row" style="padding-right: 50px;">
                <div clas="col-sm-4"  style="border: 1px solid white;">
                    <form name = "filterPlatform" action="{{url_for('games')}}" method="get" style="padding-top: 20px;">
                      <p style="display: inline; color: white; padding-left: 15px;">Sort by: &nbsp;</p>
                        <select name="sort" id="sort" class="btn btn-secondary" onchange="this.form.submit()">
                          <option value="name asc" selected>Name: A-Z</option>
                          <option value="name desc">Name: Z-A</option>
                          <option value="rating desc">Rating: High-Low</option>
                          <option value="rating asc">Rating: Low-High</option>
                          <option value="release_date desc">Newest</option>
                          <option value="release_date asc">Oldest</option>
                        </select>

                  <p class="text-left" style="padding-top: 60px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Platform</font></p>

                  <div class="list-group pre-scrollable">
                    {% for platform in platforms %}
                    {% if platform.id|string() in selected_platforms %}
                    <input type="checkbox" name="platform" id="filterPlat" value=
                  "{{platform.id}}" checked="true"> <font color="white" size ="4"> {{platform.name}} </font> <br>
                  {% else %}
                    <input type="checkbox" name="platform" id="filterPlat" value=
                  "{{platform.id}}"> <font color="white" size ="4"> {{platform.name}} </font> <br>
                    {% endif %}
                    {% endfor %}
                  </div>
                <p class="text-left" style="padding-top: 30px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Genre</font></p>
                  <div class="list-group pre-scrollable">
                    {% for g in genre %}
                    {% if g|string() in genreTemp %}
                    <input type="checkbox" name="genre" value=
                    "{{g}}" checked="true"> <font color="white" size ="4"> {{g}} </font> <br>
                    {% else %}
                    <input type="checkbox" name="genre" value=
                    "{{g}}" > <font color="white" size ="4"> {{g}} </font> <br>
                    {% endif %}
                    {% endfor %}
                  </div>
                <p class="text-left" style="padding-top: 30px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Status</font></p>
                  <div class="list-group pre-scrollable">
                    {% for g in status %}
                    {% if g|string() in statusTemp %}
                    <input type="checkbox" name="status" value=
                    "{{g}}" checked="true"> <font color="white" size ="4"> {{g}} </font> <br>
                    {% else %}
                    <input type="checkbox" name="status" value=
                    "{{g}}" > <font color="white" size ="4"> {{g}} </font> <br>
                    {% endif %}
                    {% endfor %}
                  </div>
                <p class="text-left" style="padding-top: 30px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Esrb</font></p>
                  <div class="list-group pre-scrollable">
                    {% for g in esrb %}
                    {% if g|string() in esrbTemp %}
                    <input type="checkbox" name="esrb" value=
                    "{{g}}" checked="true"> <font color="white" size ="4"> {{g}} </font> <br>
                    {% else %}
                    <input type="checkbox" name="esrb" value=
                    "{{g}}" > <font color="white" size ="4"> {{g}} </font> <br>
                    {% endif %}
                    {% endfor %}
                  </div>
                <p class="text-left" style="padding-top: 30px; padding-left: 20px; padding-top: 20px;" > <font color="white" size ="6">Category</font></p>
                  <div class="list-group pre-scrollable">
                    {% for g in category %}
                    {% if g|string() in categoryTemp %}
                    <input type="checkbox" name="category" value=
                    "{{g}}" checked="true"> <font color="white" size ="4"> {{g}} </font> <br>
                    {% else %}
                    <input type="checkbox" name="category" value=
                    "{{g}}" > <font color="white" size ="4"> {{g}} </font> <br>
                    {% endif %}
                    {% endfor %}
                  </div>
                    <input class="btn-secondary center-block" type="submit"
                    value="Filter" style="width: 20%;">
                </form>
                  </div>
                </div>
              </div>

        <!--Load them images up -->
        <div class="col-md-9" style="padding-top: 100px;">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div style="color: white; float: right; text-align: right;">
                    {{ pagination.links }}
                  </div>
                  <h1>Games</h1>

                  <div class="row">
                    <div class="col-sm-6">
                      <p>
                        &nbsp;
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <div style="color: white; text-align: right; margin-top: 10px;">
                        {{ pagination.info }}
                      </div>
                    </div>
                    <div class="col-sm-12">

                      <div class="underline"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 30px; margin-bottom: 30px; background: white; opacity: 0.9; border-radius: 15px;">

            {% for item_row in items | batch(3, '&nbsp;') %}
            <div class="row" style="overflow: hidden; margin-bottom: 30px;">
              {% for item in item_row %}
              {% if item.id %}
              <div class="col-md-4">
                <div class="row">
                  <div class="col-sm-12">
                    <div style="inline;">
                      <div class="row">
                        <div class="col-sm-12">
                          <h2 style="word-wrap: break-word; margin-bottom: 0;
                      padding-top: 25px; height: 100px; width: 100%;
                      color: black; text-decoration: underline;">
                      <a href="{{ url_for('game_instance',
                      name = item.id)}}">

                      {% if item.name | length > 50 %}
                      {{item.name[:47]}}...
                      {% else %}
                      {{item.name}}
                      {% endif %}

                    </h2>
                        </div>
                      </div>
                      {% if item.image != 'None' %}
                      <img class="center-block" style="height: 250px" src="{{item.image}}" />
                      {% else %}
                      <img class="center-block" style="height: 250px" src="/static/images/no-art.png" />
                      {% endif %}
                      </a>
                    </div>
                    <div class="row" style="padding-left: 40px;">
                      <div class="col-sm-12">
                        <p style="color: black; padding-top: 15px;">
                          {% if item.platform_id is not none %}
                          Platform: <a href="{{ url_for('platform_instance', name = item.platform.id)}}"> {{item.platform.name}} </a>
                          {% else %}
                          Platform: None
                          {% endif %}
                        </p>
                        <p style="color: black;">
                          {% if item.studio is not none %}
                          Studio: <a href="{{ url_for('studio_instance', name = item.studio.id)}}">  {{item.studio.name}}
                         </a>
                         {% else %}
                         Studio: None
                         {% endif %}
                        </p>
                        <p> Esrb: {{item.esrb}} </p>
                        <p> Genre: {{item.genre}} </p>
                        <p> Rating: {{'%0.2f'| format(item.rating|float)}} </p>
                        {% if item.status is defined %}
                        <p> Status: {{item.status}} </p>
                        {% else %}
                        <p> Status: None </p>
                        {% endif %}
                        <p>
                          Date Created: {{item.release_date.date()}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}

            </div>

            {% endfor %}
          </div>
          <div class="underline"></div>
          <div style="color: white; float: right; text-align: right;">
            {{ pagination.info }} {{ pagination.links }}
          </div>
        </div>
      </div>
  </header>

  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


<!-- Search-->
<script src="../static/js/search.js"></script>
