<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width = device-width, initial-scale=1">
  <title>GGnoSWE</title>
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <style type="text/css"></style>

 <style type="text/css">
    body {
      background: url('../static/images/bg2.png');
    }

    h1 {
      color: white;
    }

    h2 {
      color: black;
      text-align: center;
      font-size: 2.5em;
    }

    p {
      text-align: left;
      color: black;
      font-size: 1.5em;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
    }

    .center-block {
      margin-left: auto;
      margin-right: auto;
    }

    .underline {
      width: 100%;
    }

    .list-group {
      padding-left: 20px;
      padding-top: 20px;
    }
    #sort {
      width: 125px;
    }
  </style>

</head>

<body>
  <header>
    <!-- Starting Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-fixed-top" style="margin-top: 0;">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav-col">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse navbar-left" id="nav-col">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <img src="../static/images/logo.png" style="width: 100px; height: 50px; padding-top: -20px;" />
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('games')}}">Games
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('platforms')}}">Platforms</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('studios')}}">Studios</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('reviews')}}">Reviews</a>
              </li>
              <li class="nav-item" style="padding-top: 15px;">
                <a class="nav-link" href="{{ url_for('about')}}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- Beginning Carousel -->
    <div id="splashCarousel" class="carousel slide" data-ride="carousel">

      <!-- Carousel Slides -->
      <ol class="carousel-indicators">
        <li data-target="#splashCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#splashCarousel" data-slide-to="1"></li>
        <li data-target="#splashCarousel" data-slide-to="2"></li>
        <li data-target="#splashCarousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">

      <!-- Beginning Search Bar -->
        <div class="col-sm-4 col-sm-offset-4"  style="top: 50%; text-align: center; position: absolute;">
          <div class="row">
            <form class="form-inline" action="{{ url_for('search') }}" method="get" id="searchBar">
             <div class="form-group">
               <div class="input-group input-group-lg">
                <input type="text" name="search" class="form-control" placeholder="Search">

                  <span class="input-group-btn">
                   <button class="btn btn-secondary" type="button" style="float: left;">
                    <span class="glyphicon glyphicon-search"></span>
                   </button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Inner Slides -->
        <div class="item active">
          <div class="slide" style="background-image:
          url(../static/images/game-shelf.png); background-size: cover;">

        </div>
          <div class="carousel-caption">
            <h1>Games</h1>
            <p><a style = "color: white; text-decoration: underline;" href="{{ url_for('games')}}"> View a list of games </a></p>
          </div>
        </div>
        <div class="item">
          <div class="slide" style="background-image:
          url(../static/images/platforms.png); background-size: cover;"></div>
          <div class="carousel-caption">
            <h1>Platforms</h1>
            <p><a style = "color: white; text-decoration: underline;" href="{{ url_for('platforms')}}">Discover games by platform</a></p>
          </div>
        </div>
        <div class="item">
          <div class="slide" style="background-image:
          url(../static/images/studio.png); background-size: cover;"></div>
          <div class="carousel-caption">
            <h1>Studios</h1>
            <p><a style = "color: white; text-decoration: underline;" href="{{ url_for('studios')}}">Search works of various studios</a></p>
          </div>
        </div>
        <div class="item">
          <div class="slide" style="background-image:
          url(../static/images/high-score.png); background-size: cover;"></div>
          <div class="carousel-caption">
            <h1>Reviews</h1>
            <p><a style = "color: white; text-decoration: underline;" href="{{ url_for('reviews')}}">See reviews and ratings</a></p>
          </div>
        </div>
      </div>
      <!-- Carousel Functionality -->
      <a class="left carousel-control" href="#splashCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"> </span>
      </a>
      <a class="right carousel-control" href="#splashCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>

    </div>
  </header>

  <!-- Use following version of JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Use included version of Bootstrap -->
  <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>
